@media (max-width: 1024px) {
    .hero-4 {
        display: none;
    }
}
.hero-4 {

  
    .hero-slider-overlay{
 
        background-image: none !important;
     }
    .index-module_Slide__vy4u2, .index-module_Container__zFpuF {
        height: 80% !important;
        }
}
.hero-contents {
  
    p {
        color: #fff;
        font-weight: 700;
    }

    h1 {
     
        line-height: 1.22;
      
        color: #fff;
        font-weight: 700;

     

    }

    a {
      

    

        &.theme-3 {
            border-color: #001248;
            background-color: #001248;
            color: #fff;

            &:last-child {
                border-color: #fff;
                background-color: #fff;
                color: #001248;
            }
        }
    }
}
