// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/scss/style.scss";

.accordion__panel{
    color:black;
}

.faq-content{
    margin-bottom: 1.5rem;
}
.timeline-wrapper-2 {
    background-size: cover;
    background-image: url("./assets/img/timeline/4.png") ;
}