// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/scss/style.scss";

.accordion__panel{
    color:black;
}

.faq-content{
    margin-bottom: 1.5rem;
}
.timeline-wrapper-2 {
    background-size: cover;
 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/img/products/cover-II.png") ;
}
ul{
    list-style-type: circle;
}
.bullet{
    color: #000;
&::before {
    content: "●";
   

    padding-inline: 0.8px;
   
  }
}